@font-face {
    font-family: 'Farm Heroes TF';
    src: url('FarmHeroes-Bold.eot');
    src: local('Farm Heroes TF Bold'), local('FarmHeroes-Bold'),
        url('FarmHeroes-Bold.eot?#iefix') format('embedded-opentype'),
        url('FarmHeroes-Bold.woff2') format('woff2'),
        url('FarmHeroes-Bold.woff') format('woff'),
        url('FarmHeroes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

